/* Below is commom body and nav bar css */ 
body{
    margin: 0;
    padding: 0;
    background:#dee0e3
  }

  nav{
    width: 100%;
    background:rgb(12, 89, 90);
    overflow: auto;
  }
  
  ul{
    padding: 0;
    margin: 0 0 0 200px;
    list-style: none;
  }

  li{
    float: left;
  }

  .logo img{
    position: absolute;
    margin-top: 5px;
    margin-left: 60px;
  }

  nav a{
    width: 120px;
    display: block;
    padding: 12px 40px;
    text-decoration: none;
    font-family: Arial;
    color: #f2f2f2;
    text-align: center;
    font-size: 25px;
  }

/* Below is commom footer css */ 
  footer {

    background-color:rgb(12, 89, 90);
    color: white;
    height: 50px;
    text-align: center;  
    margin-top: 1px;
     }
   
     footer a {
    text-decoration: none;
    color: white;
    margin-top: 50px;
    font-size: 25px;
     }
   
     container{
     margin-bottom: 0;
   }

/* Below is Home page customerized css */
  .search-container{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
  }

  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: bold;
    color: white;

  }

  .headings{
    margin-top: 50px;
    margin-bottom: 3px;
    font-family: 'Rammetto One', cursive;
    font-family: 'Roboto', sans-serif;

    
  }

  .sub-headings{
    color: lightsalmon;
    margin-top: 3px; 
  }

  .centered-1 {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: bold;
    color: black
  }

  .pre-order-button{
    position: absolute;
    top: 55%;
    left: 38%;
    background-color: rgb(255, 216, 20);
    border: none;
    height: 60px;
    width: 300px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
  }

.search-container{
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}

/*Below is About page customerized css*/
*{
  padding: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.heading{
  text-align: center;
  margin-top: 5px;
}

.heading h1{
  margin-top: 8px;
  font-size: 45px;
  color: #36455c;
  margin-bottom: 3px;
}

.heading p{
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}

.about-us{
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
}

.about-us img{
  flex: 0 50%;
  max-width: 50%;
  height: auto;
}

.content{
  padding: 35px;
}

.content h2{
  color: #36455c;
  font-size: 22px;
  margin: 15px 0px;
}

.content p{
  color:#666;
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 0px;
}

.read-more-button{
  display: inline-block;
  color: #fff;
  background-color: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease
}

.read-more-button:hover{
  background-color: #006dd6;
}

.trading-hours{
  font-size: 30px;
  color: #36455c;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tb {
text-align: center;
margin-left: 600px;
}


table{
    text-align: center;
    width: 700px;
    border-collapse: collapse;
    margin: 15px;
    font-size: 25px;
    
  }

  th,td{
    border:5px purple;
    border-style: groove;
  }

/*Below is Products page customerized css*/

.table-products{
  text-align: center;
  width: 1300px;
  border-collapse: collapse;
  margin: 5px;
  font-size: 40px;
  margin-left: 300px;

  
}

th,td{
  border:5px purple;
  border-style: groove;
}

/*Below is Checkout page customerized css*/
.checkout-h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  color: #36455c;
}

.form1{
  color:purple; 
  font-size: 25px;
  margin-bottom: 20px;
  display: block;
  text-align: center;

}

/*Below is Contact page customerized css*/
.contact-h1{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  color: #36455c;
}

.contact-h2{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif; 
}

.contact-form{
  margin: 80px;
  text-align: center;
  left: 50%;
}

.input-field{
  width: 800px;
  height: 50px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline:none

}

.textarea-field{
  height: 350px;
  padding-top: 10px;
  
}

.contact-button{
  border-radius: 20px;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
  background-color: #47c35a;
  font-size:25px;
  border: none;
  cursor: pointer;
  margin-left: 360px;
  
  
}




  